h1 {
    width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: blue;
}

.sub-links {
    width: auto;
    margin: 0 auto;
    text-align: center;
    background-color: brown;
}
