{% extends "core/core.html" %}
{% block head %}
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('weather_bp.static', filename='stylesheet.css') }}"/>
    <script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
{% block content %}
    <h1>Weather Forecast</h1>
    <div class="get-weather-btn">
        <form method="post">
            <button type="submit" class="normal-btn" name="get-weather">Get Weather</button>
        </form>
    </div>
    {% if render %}
        <div class="get-day-btns">
            {% for record in available %}
                <a class="nav-item" href="/weather/{{ record.id }}">{{ format_date(record.date) }}</a>
            {% endfor %}
        </div>
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
        <script>
            var time = {{ hourly_data["time"] | safe }}
            var temperature = {{ hourly_data["temperature"] | safe }}
            var humidity = {{ hourly_data["humidity"] | safe }}
            var precipitation_probability = {{ hourly_data["precipitation_probability"] | safe }}
            var precipitation = {{ hourly_data["precipitation"] | safe }}
            Highcharts.chart("container", {
                chart: {
                    zooming: {
                        type: "xy"
                    },
                    backgroundColor: "#212121",
                    borderColor: "rgba(255,255,255,0.25)",
                    borderWidth: 2,
                    style: {
                        fontFamily: "monospace",
                    }
                },
                title: {
                    text: "{{ daily_data.weather_description }}",
                    align: "left",
                    style: {
                        color: "#ffffff"
                    }
                },
                subtitle: {
                    text: `{{ city }}, {{ region }}<br>Date: {{ format_date(daily_data.date) }}, 
                    Sunrise: {{ daily_data.sunrise }}, Sunset: {{ daily_data.sunset }}`,
                    align: "left",
                    style: {
                        color: "#ffffff"
                    }
                },
                xAxis: [{
                    categories: time,
                    crosshair: true,
                    labels: {
                        style: {
                            color: "#ffffff"
                        }
                    }
                }],
                yAxis: [{
                    labels: {
                        format: "{value} °C",
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    title: {
                        text: "Temperature",
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    }
                }, {
                    labels: {
                        format: "{value} %",
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: "Humidity",
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }
                }, {
                    labels: {
                        format: "{value} %",
                        style: {
                            color: Highcharts.getOptions().colors[2]
                        }
                    },
                    title: {
                        text: "Precipitation",
                        style: {
                            color: Highcharts.getOptions().colors[2]
                        }
                    },
                    opposite: true
                }, {
                    labels: {
                        format: "{value} mm",
                        style: {
                            color: Highcharts.getOptions().colors[3]
                        }
                    },
                    title: {
                        text: "Precipitation Probability",
                        style: {
                            color: Highcharts.getOptions().colors[3]
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },
                legend: {
                    align: "left",
                    verticalAlign: "top",
                    backgroundColor: "rgba(255,255,255,0.25)",
                    itemStyle: {
                        color: "#ffffff"
                    }
                },
                series: [{
                    name: "Temperature",
                    type: "spline",
                    data: temperature,
                    tooltip: {
                        valueSuffix: " °C"
                    }
                }, {
                    name: "Humidity",
                    type: "spline",
                    yAxis: 1,
                    data: humidity,
                    tooltip: {
                        valueSuffix: " %"
                    }
                }, {
                    name: "Precipitation Probability",
                    type: "spline",
                    yAxis: 2,
                    data: precipitation_probability,
                    tooltip: {
                        valueSuffix: " %"
                    }
                }, {
                    name: "Precipitation",
                    type: "column",
                    yAxis: 3,
                    data: precipitation,
                    tooltip: {
                        valueSuffix: " mm"
                    }
                }]
            });  
        </script>
    {% endif %}
{% endblock %}
