{% extends "core/core.html" %}
{% block head %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('auth_bp.static', filename='stylesheet.css') }}"/>
{% endblock %}
{% block content %}
    <h1>Login</h1>
    <div class="login-container">
        <div class="login-content">
            <form action="" method="post"> 
                {{ login_form.hidden_tag() }}
                <dl>
                    <dt>{{ login_form.username.label }}</dt>
                    <dd>{{ login_form.username(size=16) }}</dd>
                    {% for error in login_form.username.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    <dt>{{ login_form.password.label }}</dt>
                    <dd>{{ login_form.password(size=16) }}</dd>
                    {% for error in login_form.password.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    <dt>{{ login_form.submit() }}</dt>
                </dl>
            </form>
        </div>
    </div>
{% endblock %}
