[Unit]
Description=Automated Garden Flask Application

[Service]
Type=simple
ExecStart=/home/pi/repo/Automated-Garden/web-application/venv/bin/gunicorn --chdir /home/pi/repo/Automated-Garden/web-application main:app
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target