.water-container {
    width: auto;
    margin: 0 auto;
    background-color: pink;
    display: flex;
    justify-content: center;
}

.water-content {
    width: 500px;
    background-color: black;
}

input[type=text], input[type=number], input[type=time], input[type=submit], select {
    width: 100%;
    box-sizing: border-box;
}

input[type=submit] {
    margin-top: 20px;
    color: red;
}

dd, dt {
    margin: 0 auto;
    padding: 5px;
}

input:focus, select:focus {
    background-color: lightgreen;
}

h2, h3 {
    width: auto;
    margin: 5px auto;
    text-align: center;
}
