body {
    color: white;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
}

.login-form {
    width: 300px;
    padding: 64px 15px 24px;
    margin: 0 auto;
}

h1 {
    width: 300px;
    margin: 0 auto;
}
