<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='stylesheet.css') }}"/>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="base-container">
            {% if user.is_authenticated %}
                <nav class="navbar">
                    <div>
                        <a class="nav-item" id="home" href="{{ url_for('weather_bp.index') }}">Forecast</a>
                        <a class="nav-item" id="water" href="{{ url_for('water_bp.water_index') }}">Water</a>
                        <a class="nav-item" id="configure" href="{{ url_for('water_bp.configure_index') }}">Configure</a>
                        <a class="nav-item" id="logout" href="{{ url_for('auth_bp.logout') }}">Log Out</a>
                    </div>
                </nav>
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }}" id="alert">
                            {{ message }}
                            <button type="button" class="alert-btn" onclick="hideAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>  
        </div>
        <script type="text/javascript" src="{{ url_for('core_bp.static', filename='javascript.js') }}"></script>
    </body>
</html>
