<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='stylesheet.css') }}"/>
        <script type="text/javascript" src="{{ url_for('core_bp.static', filename='javascript.js') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar">
            {% if user.is_authenticated %}
                <a id="weather" href="{{ url_for('weather_bp.index') }}">Weather Forecast</a>
                <a id="water" href="{{ url_for('water_bp.water_check') }}">Water</a>
                <a id="configure" href="{{ url_for('water_bp.configure_check') }}">Configure</a>
                <a id="setup" href="{{ url_for('water_bp.setup') }}">Setup</a>
                <a id="logout" href="{{ url_for('auth_bp.logout') }}">Log Out</a>
            {% endif %}
        </nav>
        <div class="messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }}" id="alert">
                            {{ message }}
                            <button type="button" class="alert-btn" onclick="hideAlert()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>  
    </body>
</html>
