{% extends "core/core.html" %}
{% block head %}
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('auth_bp.static', filename='stylesheet.css') }}"/>
{% endblock %}
{% block content %}
    <h1>Admin</h1>
    <div class="auth-container">
        <div class="auth-content">
            <form action="" method="post">
                {{ admin_form.hidden_tag() }}
                <dl>
                    <dt>{{ admin_form.username.label }}</dt>
                    <dd>{{ admin_form.username(size=16) }}</dd>
                    {% for error in admin_form.username.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    <dt>{{ admin_form.password.label }}</dt>
                    <dd>{{ admin_form.password(size=16) }}</dd>
                    {% for error in admin_form.password.errors %}
                        <span class="form-error">{{ error }}</span>
                    {% endfor %}
                    <dt>{{ admin_form.submit() }}</dt>
                </dl>
            </form>
        </div>
    </div>
{% endblock %}
