{% extends "core/core.html" %}
{% block head %}
    <title>Login</title>
{% endblock %}
{% block content %}
    <h1>Login</h1>
    <h4>Enter your login details</h4>
    <form action="" method="post">
        {{ login_form.hidden_tag() }}
        <p>
            {{ login_form.username.label }}
            {{ login_form.username(size=16) }}
            {% for error in login_form.username.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ login_form.password.label }}
            {{ login_form.password(size=16) }}
            {% for error in login_form.password.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ login_form.submit() }}
        </p>
    </form>
{% endblock %}
