{% extends "core/core.html" %}
{% block head %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('auth_bp.static', filename='stylesheet.css') }}"/>
{% endblock %}
{% block content %}
    <h1>Login</h1>
    <form action="" method="post" class="login-form">
        {{ login_form.hidden_tag() }}
        <p>
            {{ login_form.username.label }}
            {{ login_form.username(size=16) }}
            {% for error in login_form.username.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ login_form.password.label }}
            {{ login_form.password(size=16) }}
            {% for error in login_form.password.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ login_form.submit() }}
        </p>
    </form>
{% endblock %}
