.normal-btn, .multi-btn {
    display: inline;
    padding: 2px;
}

.multi-btn {
    margin-right: 10px;
}
.navbar {
    padding: 10px;
}

.nav-item {
    text-decoration: none;
    margin-right: 10px;
}

html {
    background-color: aliceblue;
}

.alert {
    opacity: 0.8;
    padding: 5px;
}

.error {
    background-color: rgb(202, 110, 110);
}

.success {
    background-color: rgb(128, 214, 128);
}

.info {
    background-color: rgb(133, 133, 179);
}