{% extends "base.html" %}
{% block head %}
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>
{% endblock %}
{% block content %}
    <div class="graph-container">
        <h1>Weather Forecast</h1>
        <h4>Date: {{ date }} Sunrise: {{ sunrise }} Sunset: {{ sunset }}</h4>
        <div class="day-btns">
            {% for day in all_day %}
            <form method="post">
                <button type="submit" class="normal-btn" value="{{ day.date }}" name="get-day">{{ day.date }}</button>
            </form>
            {% endfor %}
        </div>
        <div class="graph">
            <canvas id="graph-canvas" width="900" height="500"></canvas>
            <script>
                var ctx = document.getElementById("graph-canvas").getContext("2d");
                var temperature = {{ temperature | safe }}
                var humidity = {{ humidity | safe }}
                var rain_chance = {{ rain_chance | safe }}
                var rain_recorded = {{ rain_recorded | safe }}
                var time_weather_labels = {{ time_weather_labels | safe }}
                var my_chart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: time_weather_labels,
                        datasets: []
                    },
                    options: {
                        response: true,
                    }
                });
                var data = [
                    {
                        label: "Temperature",
                        data: temperature,
                        borderColor: "rgb(205, 92, 92)",
                        backgroundColor: "rgb(205, 92, 92)"
                    },
                    {
                        label: "Humidity",
                        data: humidity,
                        borderColor: "rgb(254, 186, 79)",
                        backgroundColor: "rgb(254, 186, 79)"
                    },
                    {
                        label: "Rain Chance",
                        data: rain_chance,
                        borderColor: "rgb(108, 160, 220)",
                        backgroundColor: "rgb(108, 160, 220)"
                    },
                    {
                        label: "Rain Recorded",
                        data: rain_recorded,
                        borderColor: "rgb(137, 207, 240)",
                        backgroundColor: "rgb(137, 207, 240)"
                    }
                ];
                function addHideData(value) {
                    const array = my_chart.data.datasets.map((dataset, index) => {
                        return dataset.label
                    });
                    if (array.indexOf(data[value].label) > -1){
                        my_chart.data.datasets.splice(array.indexOf(data[value].label), 1);
                    } else {
                        my_chart.data.datasets.push(data[value]);
                    }
                    my_chart.update();
                }
                addHideData(0);
                addHideData(1);
                addHideData(2);
                addHideData(3);
            </script>
        </div>
        <div>
            <button class="normal-btn" onclick="addHideData(0)">Temperature (&#x2103)</button>
            <button class="normal-btn" onclick="addHideData(1)">Humidity (%)</button>
            <button class="normal-btn" onclick="addHideData(2)">Rain Chance (%)</button>
            <button class="normal-btn" onclick="addHideData(3)">Rain Recorded (mm)</button>
        </div>

    </div>



{% endblock %}
