{% extends "core/core.html" %}
{% block head %}
    <title>Configure</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('water_bp.static', filename='stylesheet.css') }}"/>
{% endblock %}
{% block content %}
    <h1>Configure</h1>
    <div class="sub-links">
        {% for plant in plants_available %}
            <a href="{{ url_for('water_bp.configure', plant_id=plant.id) }}">{{ plant.name }}</a>
        {% endfor %}
    </div>
    <div class="water-container">
        <div class="water-content">
            <h2>Selected Plant: {{ plant_selected.name }}</h2>
            <h3>Last Edit: {{ format_date(plant_selected.config.last_edit) }}</h3>
            {% if active_job %}
                <h3>Active Job: {{ active_job.name }}</h3>
                <h3>Scheduled Date: {{ format_date(active_job.next_run_time) }}</h3>
            {% else %}
                <h3>Disabled</h3>
            {% endif %}
            <form action="" method="post">
                {{ config_form.hidden_tag() }} 
                <dl>
                    <dt>{{ config_form.enabled.label }}</dt>
                    <dd>{{ config_form.enabled }}</dd>
                    <dt>{{ config_form.duration_sec.label }}</dt>
                    <dd>{{ config_form.duration_sec }}</dd>
                    <dt>{{ config_form.occurrence_days.label }}</dt>
                    <dd>{{ config_form.occurrence_days }}</dd>
                    <dt>{{ config_form.mode.label }}</dt>
                    <dd>{{ config_form.mode }}</dd>
                    <dt>{{ config_form.default.label }}</dt>
                    <dd>{{ config_form.default }}</dd>
                    <dt>{{ config_form.rain_reset.label }}</dt>
                    <dd>{{ config_form.rain_reset }}</dd>
                    <dt>{{ config_form.threshold_mm.label }}</dt>
                    <dd>{{ config_form.threshold_mm }}</dd>
                    <dt>{{ config_form.submit() }}</dt>
                </dl>
            </form>
        </div>
    </div>
{% endblock %}
