{% extends "core/core.html" %}
{% block head %}
    <title>Setup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('water_bp.static', filename='stylesheet.css') }}"/>
{% endblock %}
{% block content %}
    <h1>Setup</h1>
    <div class="water-container">
        <div class="water-content">
            <h2>Available Plants</h2>
            <dl>
            {% for plant in plants_available %}
                <dt>{{ plant.name }}, {{ plant.description }}, {{ plant.system.name }}
                <a href="{{ url_for('water_bp.delete', plant_id=plant.id) }}">Delete</a></dt>
            {% endfor %}
            </dl>
            <form action="" method="post">
                {{ plant_form.hidden_tag() }}
                <dl>
                    <dt>{{ plant_form.name.label }}</dt>
                    <dd>{{ plant_form.name }}</dd>
                    <dt>{{ plant_form.description.label }}</dt>
                    <dd>{{ plant_form.description }}</dd>
                    <dt>{{ plant_form.system.label }}</dt>
                    <dd>{{ plant_form.system }}</dd>
                    <dt>{{ plant_form.submit() }}</dt>
                </dl>
            </form>

        </div>
    </div>
{% endblock %}
