{% extends "core/core.html" %}
{% block head %}
    <title>Water</title>
{% endblock %}
{% block content %}
    <h1>Water</h1>
    <form method="post">
        <label for="wtime">Time (Seconds):</label>
        <input type="number" id="water" name="water" required>
        <button type="submit" class="normal-btn" name="water">Water</button>
    </form>
    </br>
    <form method="post">
        <button type="submit" class="normal-btn" name="stop" value="stop">Force Stop</button>
    </form>
    <h4>Water Running Status: {{ status }}</h4>
{% endblock %}
