.water-container {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.water-content {
    width: 500px;
}

input[type=text], input[type=number], input[type=time], input[type=submit], select {
    width: 100%;
    box-sizing: border-box;
}

input[type=submit] {
    margin-top: 25px;
}

input:focus, select:focus {
    background-color: lightgreen;
}

dd, dt {
    margin: 0 auto;
    padding: 5px;
}

dl {
    color: white;
    font-family: monospace;
    margin: 0 auto;
}

h1, h2, h3 {
    color: white;
    font-family: monospace;
    width: auto;
    margin: 5px auto;
    text-align: center;
}

a {
    color: white;
    font-family: monospace;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

a:hover, a:active {
    color: lightgreen;
}

.delete-btn {
    padding: 0;
}

.sub-links {
    width: auto;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
