.navbar {
    height: 20px;
    width: auto;
}

.nav-item {
    color: white;
    font-family: monospace;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-item:hover, .nav-item:active {
    color: lightgreen;
}

.messages {
    height: 25px;
    width: auto;
}

html {
    background-color: #212121;
}

.alert {
    color: white;
    font-family: monospace;
    padding-left: 15px;
    padding-right: 15px;
    height: 25px;
    text-align: left;
    opacity: 0.95;
}

.alert-btn {
    height: 25px;
    width: 25px;
}

.error {
    background-color: rgb(202, 110, 110);
}

.success {
    background-color: rgb(128, 214, 128);
}

.info {
    background-color: rgb(133, 133, 179);
}
